**/.DS_Store
**/*/__pycache__/
__pycache__

# secrets
*.env
github_repo_key
github_repo_key.pub

# Exported reuirements, better to export locally
requirements.txt

# Testing
.coverage
.pytest_cache
.mypy_cache
.nox
