**/.DS_Store
**/*/__pycache__/
__pycache__

# secrets
*.env
ssh/*
!ssh/.gitkeep

# Exported reuirements, better to export locally
requirements.txt

# Testing
.coverage
.pytest_cache
.mypy_cache
.nox

# Possible remnants of local dev
/api/docs
/dist/*